---
nav:
    - Home: index.md
    - Installation: installation/index.md
    - Getting Started:
          - 1. Initial Steps: getting-started/initial-steps.md
          - 2. Create a Component: getting-started/create-component.md
          - 3. Use the Template Tag: getting-started/reference-component.md
          - 4. Render Your View: getting-started/render-view.md
          - 5. Learn More: getting-started/learn-more.md
    - Exclusive Features:
          - Hooks: features/hooks.md
          - Template Tag: features/templatetag.md
    - Contribute:
          - Code: contribute/django-idom.md
          - Docs: contribute/docs.md
          - Running Tests: contribute/running-tests.md
    - Changelog: changelog/index.md

theme:
    name: material
    palette:
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
          primary: deep-orange
          accent: orange
        - media: "(prefers-color-scheme: light)"
          scheme: default
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
          primary: black
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.tabs
        - toc.integrate
        - navigation.top
    icon:
        repo: fontawesome/brands/github

markdown_extensions:
    - toc:
          permalink: true
    - pymdownx.emoji:
          emoji_index: !!python/name:materialx.emoji.twemoji
          emoji_generator: !!python/name:materialx.emoji.to_svg
    - pymdownx.highlight
    - pymdownx.superfences
    - pymdownx.details
    - pymdownx.inlinehilite
    - admonition
    - attr_list

plugins:
    - search
    - include-markdown
    - git-revision-date-localized:
          fallback_to_build_date: true

extra:
    generator: false

extra_css:
    - stylesheets/extra.css

watch:
    - docs
    - mkdocs.yml
    - README.md
    - CHANGELOG.md

site_name: Django IDOM Docs
site_author: Archmonger
site_description: React for Django developers.
copyright: Copyright &copy; 2022 IDOM Team
repo_url: https://github.com/idom-team/django-idom
site_url: https://idom-team.github.io/django-idom
repo_name: idom-team/django-idom
edit_uri: edit/docs
