.md-footer__inner {
	display: none;
}

.md-tabs,
.md-header {
	background-color: var(--md-footer-bg-color--dark);
}

.md-typeset :is(.admonition, details) {
	margin: 0.55em 0;
}

.md-typeset .tabbed-labels > label {
	padding-top: 0;
	padding-bottom: 0.35em;
}

body[data-md-color-scheme="slate"]
	.md-typeset
	:is(.admonition, details):is(.question, .help, .faq) {
	border-color: #366517;
}

body[data-md-color-scheme="slate"]
	.md-typeset
	:-webkit-any(.admonition, details):-webkit-any(.question, .help, .faq) {
	border-color: #366517;
}
