{% load static %}
<link rel="stylesheet" href="{% static 'reactpy_django/pyscript/core.css' %}" />
<link rel="stylesheet" href="{% static 'reactpy_django/pyscript-custom.css' %}" />
{% if not django_debug %}
<link rel="stylesheet" href="{% static 'reactpy_django/pyscript-hide-debug.css' %}" />
{% endif %}
<script type="module" async crossorigin="anonymous" src="{% static 'reactpy_django/pyscript/core.js' %}"></script>
<py-script async config='{{pyscript_config}}'>{{pyscript_layout_handler}}</py-script>
