/* General admonition styling */
/* TODO: Write this in a way that supports the light theme */
[data-md-color-scheme="slate"] .md-typeset details,
[data-md-color-scheme="slate"] .md-typeset .admonition {
	border-color: transparent !important;
}

.md-typeset :is(.admonition, details) {
	margin: 0.55em 0;
}

.md-typeset .admonition {
	font-size: 0.7rem;
}

.md-typeset .admonition:focus-within,
.md-typeset details:focus-within {
	box-shadow: var(--md-shadow-z1) !important;
}

/* Colors for "summary" admonition */
[data-md-color-scheme="slate"] .md-typeset .admonition.summary {
	background: #353a45;
	padding: 0.8rem 1.4rem;
	border-radius: 0.8rem;
}

[data-md-color-scheme="slate"] .md-typeset .summary .admonition-title {
	font-size: 1rem;
	background: transparent;
	padding-left: 0.6rem;
	padding-bottom: 0;
}

[data-md-color-scheme="slate"] .md-typeset .summary .admonition-title:before {
	display: none;
}

[data-md-color-scheme="slate"] .md-typeset .admonition.summary {
	border-color: #ffffff17 !important;
}

/* Colors for "note" admonition */
[data-md-color-scheme="slate"] .md-typeset .admonition.note {
	background: rgb(43 110 98/ 0.2);
	padding: 0.8rem 1.4rem;
	border-radius: 0.8rem;
}

[data-md-color-scheme="slate"] .md-typeset .note .admonition-title {
	font-size: 1rem;
	background: transparent;
	padding-bottom: 0;
	color: rgb(68 172 153);
}

[data-md-color-scheme="slate"] .md-typeset .note .admonition-title:before {
	font-size: 1.1rem;
	background: rgb(68 172 153);
}

.md-typeset .note > .admonition-title:before,
.md-typeset .note > summary:before {
	-webkit-mask-image: var(--md-admonition-icon--abstract);
	mask-image: var(--md-admonition-icon--abstract);
}

/* Colors for "warning" admonition */
[data-md-color-scheme="slate"] .md-typeset .admonition.warning {
	background: rgb(182 87 0 / 0.2);
	padding: 0.8rem 1.4rem;
	border-radius: 0.8rem;
}

[data-md-color-scheme="slate"] .md-typeset .warning .admonition-title {
	font-size: 1rem;
	background: transparent;
	padding-bottom: 0;
	color: rgb(219 125 39);
}

[data-md-color-scheme="slate"] .md-typeset .warning .admonition-title:before {
	font-size: 1.1rem;
	background: rgb(219 125 39);
}

/* Colors for "info" admonition */
[data-md-color-scheme="slate"] .md-typeset .admonition.info {
	background: rgb(43 52 145 / 0.2);
	padding: 0.8rem 1.4rem;
	border-radius: 0.8rem;
}

[data-md-color-scheme="slate"] .md-typeset .info .admonition-title {
	font-size: 1rem;
	background: transparent;
	padding-bottom: 0;
	color: rgb(136 145 236);
}

[data-md-color-scheme="slate"] .md-typeset .info .admonition-title:before {
	font-size: 1.1rem;
	background: rgb(136 145 236);
}

/* Colors for "example" admonition */
[data-md-color-scheme="slate"] .md-typeset .admonition.example {
	background: rgb(94 104 126);
	border-radius: 0.4rem;
}

[data-md-color-scheme="slate"] .md-typeset .example .admonition-title {
	background: rgb(78 87 105);
	color: rgb(246 247 249);
}

[data-md-color-scheme="slate"] .md-typeset .example .admonition-title:before {
	background: rgb(246 247 249);
}

[data-md-color-scheme="slate"] .md-typeset .admonition.example code {
	background: transparent;
	color: #fff;
}
