:root {
	--code-max-height: 17.25rem;
}

[data-md-color-scheme="slate"] {
	--md-code-hl-color: #ffffcf1c;
	--md-code-bg-color: #16181d;
	--md-code-hl-comment-color: hsla(var(--md-hue), 75%, 90%, 0.43);
	--code-tab-color: rgb(52 58 70);
}

[data-md-color-scheme="default"] {
	--md-code-hl-color: #ffffcf1c;
	--md-code-bg-color: rgba(208, 211, 220, 0.4);
	--md-code-fg-color: rgb(64, 71, 86);
	--code-tab-color: #7d829e26;
}

.md-typeset pre > code {
	border-radius: 16px;
}

.md-typeset .highlighttable .linenos {
	max-height: var(--code-max-height);
	overflow: hidden;
}

.md-typeset .tabbed-block .highlighttable code {
	border-radius: 0;
}

.md-typeset .tabbed-block {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: hidden;
}

.js .md-typeset .tabbed-labels {
	background: var(--code-tab-color);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0;
	padding-left: 0.8rem;
}

.md-typeset .tabbed-labels > label {
	font-weight: 400;
	font-size: 0.7rem;
	padding-top: 0.55em;
	padding-bottom: 0.35em;
}

.md-typeset pre > code {
	max-height: var(--code-max-height);
}
