{% load static %} {% load reactpy %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <title>ReactPy</title>
</head>

<body>
  <h1>ReactPy Test Page</h1>
  <style>
    iframe {
      width: 100%;
      height: 45px;
    }
  </style>
  <hr>
  <div>{% component "test_app.components.hello_world" class="hello-world" %}</div>
  <hr>
  <div>{% component "test_app.components.button" class="button" %}</div>
  <hr>
  <div>{% component "test_app.components.parameterized_component" class="parametarized-component" x=123 y=456 %}</div>
  <hr>
  <div>{% component "test_app.components.object_in_templatetag" my_object %}</div>
  <hr>
  <div>{% component "test_app.components.simple_button" %}</div>
  <hr>
  <div>{% component "test_app.components.use_connection" %}</div>
  <hr>
  <div>{% component "test_app.components.use_scope" %}</div>
  <hr>
  <div>{% component "test_app.components.use_location" %}</div>
  <hr>
  <div>{% component "test_app.components.use_origin" %}</div>
  <hr>
  <div>{% component "test_app.components.django_css" %}</div>
  <hr>
  <div>{% component "test_app.components.django_js" %}</div>
  <hr>
  <div>{% component "test_app.components.unauthorized_user" %}</div>
  <hr>
  <div>{% component "test_app.components.authorized_user" %}</div>
  <hr>
  <div>{% component "test_app.components.relational_query" %}</div>
  <hr>
  <div>{% component "test_app.components.async_relational_query" %}</div>
  <hr>
  <div>{% component "test_app.components.todo_list" %}</div>
  <hr>
  <div>{% component "test_app.components.async_todo_list" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_sync_func" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_async_func" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_sync_class" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_async_class" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_template_view_class" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_script" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_request" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_args" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_kwargs" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_sync_func_compatibility" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_async_func_compatibility" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_sync_class_compatibility" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_async_class_compatibility" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_template_view_class_compatibility" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_decorator" %}</div>
  <hr>
  <div>{% component "test_app.components.view_to_component_decorator_args" %}</div>
  <hr>
</body>

</html>
