{% load static %} {% load idom %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <title>IDOM</title>
</head>

<body>
  <h1>IDOM Test Page</h1>
  <div>{% component "test_app.components.HelloWorld" class="hello-world" %}</div>
  <div>{% component "test_app.components.Button" class="button" %}</div>
  <div>{% component "test_app.components.ParametrizedComponent" class="parametarized-component" x=123 y=456 %}</div>
  <div>{% component "test_app.components.SimpleBarChart" %}</div>
  <div>{% component "test_app.components.UseWebsocket" %}</div>
  <div>{% component "test_app.components.UseScope" %}</div>
  <div>{% component "test_app.components.UseLocation" %}</div>
</body>

</html>
