{% load static %} {% load reactpy %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>ReactPy</title>
</head>

<body>
    <h1>ReactPy Channel Layers Test Page</h1>
    <hr>
    {% component "test_app.channel_layers.components.receiver" %}
    <hr>
    {% component "test_app.channel_layers.components.sender" %}
    <hr>
    {% component "test_app.channel_layers.components.group_receiver" id=1 %}
    <hr>
    {% component "test_app.channel_layers.components.group_receiver" id=2 %}
    <hr>
    {% component "test_app.channel_layers.components.group_receiver" id=3 %}
    <hr>
    {% component "test_app.channel_layers.components.group_sender" %}
    <hr>
</body>

</html>
