{% load static %} {% load reactpy %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>ReactPy</title>
</head>

<body>
    <h1>ReactPy Test Page</h1>
    <hr>
    <b>Custom Host ({{new_host}}): </b>
    {% component "test_app.components.custom_host" host=new_host number=0 %}
    <hr>
</body>

</html>
