{% load static %} {% load reactpy %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>ReactPy</title>
    <style>
        iframe {
            width: 100%;
            height: 45px;
        }
    </style>
</head>

<body>
    <h1>ReactPy Renders Per Second Test Page</h1>

    <b>
        <p>Total Renders Per Second: <b id="total-rps"></b></p>
        <p>Total Active Components: <b id="total-active"></b></p>
    </b>

    <script>
        async function calculateTotalRPS() {
            while (true) {
                var rpsElements = document.getElementsByClassName("rps");
                var totalRPS = 0;

                for (var i = 0; i < rpsElements.length; i++) {
                    var rpsValue = parseFloat(rpsElements[i].getAttribute("data-rps"));
                    totalRPS += rpsValue;
                }

                document.getElementById("total-rps").textContent = totalRPS;
                document.getElementById("total-active").textContent = rpsElements.length;
                await new Promise(resolve => setTimeout(resolve, 100));
            }
        }
        calculateTotalRPS();
    </script>

    <hr>
    {% for x in count %}
    <b>Worker {{x}}</b>
    {% component "test_app.performance.components.renders_per_second" %}
    <hr>
    {% endfor %}
</body>

</html>
