name: Publish Latest Docs

on:
    release:
        types: [published]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest
            - uses: actions/setup-python@v5
              with:
                  python-version: 3.x
            - name: Install dependencies
              run: pip install --upgrade pip hatch uv
            - name: Publish ${{ github.event.release.name }} Docs
              run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com
                  hatch run docs:deploy_latest ${{ github.ref_name }}
        concurrency:
            group: publish-docs
