name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    schedule:
        - cron: "0 0 * * *"

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v4
              with:
                  python-version: 3.x
            - run: pip install -r requirements/build-docs.txt
            - run: linkcheckMarkdown docs/ -v -r
            - run: mkdocs build --verbose --strict
